<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353691467171-esq0vh8vh6ateso9109up6bvbt03qnbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353691467171-esq0vh8vh6ateso9109up6bvbt03qnbi</string>
	<key>API_KEY</key>
	<string>AIzaSyAhyGXl6bHp9JcwGlu-y_HYXpKwBGnxTq4</string>
	<key>GCM_SENDER_ID</key>
	<string>353691467171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enchird.inpensar</string>
	<key>PROJECT_ID</key>
	<string>inpensar-enchird</string>
	<key>STORAGE_BUCKET</key>
	<string>inpensar-enchird.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353691467171:ios:60b5b9299958452456ee16</string>
</dict>
</plist>